
@{
    ViewBag.Title = "Şifremi unuttum";
    Layout = "~/Views/Shared/_SignLayout.cshtml";
}

<div class="card card-block form-layout">
    <form role="form" action="extra-signin.html" id="validate">
        <div class="text-xs-left m-b-3">
            <img src="~/Content/images/logo-icon.png" height="80" alt="" class="m-b-1" />
            <h5>
                Şifreni sıfırla
            </h5>
            <p class="text-muted">
                Eposta adresini gir ve gelen gelen kutuna gelen mesajdaki yönergeleri takip et
            </p>
        </div>
        <fieldset class="form-group">
            <label for="password">
                Eposta adresin
            </label>
            <input type="email" class="form-control form-control-lg" id="password" placeholder="Eposta adresi" autofocus required />
        </fieldset>
        <button class="btn btn-primary btn-block btn-lg" type="submit">
            Şifreyi sıfırlama maili gönder
        </button>
    </form>
</div>

@section footer{
    <p>
        <a href="~/Sign/Login">
            Giriş yap
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="~/Sign/Register">
            Hesap oluştur
        </a>
    </p>
}
