
@{
    ViewBag.Title = "Giriş";
    Layout = "~/Views/Shared/_SignLayout.cshtml";
}

<div class="card card-block form-layout">
    <form role="form" action="index.html" id="validate">
        <div class="text-xs-center m-b-3">
            <img src="~/Content/images/slogo.png" width="150" style="margin-top:10px" alt="" class="m-b-1" />
            <h5>
                Tekrar Hoşgeldin!
            </h5>
            <p class="text-muted">
                Kullanıcı adı yada eposta adresinizle giriş yapın
            </p>
        </div>
        <fieldset class="form-group">
            <label for="username">
                Kullanıcı adı yada eposta girin
            </label>
            <input type="text" class="form-control form-control-lg" id="username" placeholder="Kullanıcı adı yada eposta" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="password">
                Şifrenizi girin
            </label>
            <input type="password" class="form-control form-control-lg" id="password" placeholder="********" required />
        </fieldset>
        <button class="btn btn-primary btn-block btn-lg" type="button" id="giris">
            Giriş Yap
        </button>
        
        
    </form>
</div>

@section footer{
    <p>
    <a href="~/Sign/Register">
        Yeni hesap oluştur
    </a>
</p>
}

@section script{
    <script>
        $(function () {
            function antixss(deger) {
                if (deger.indexOf("<script>") != -1 || deger.indexOf("</scrip") != -1) return false
                else return true;
            }

            function noti(message, type, pos) {
                var msg = message,
                  type = type.toLowerCase(),
                  position = pos;
                noty({
                    theme: 'app-noty',
                    text: msg,
                    type: type,
                    timeout: 3000,
                    layout: position,
                    closeWith: ['button', 'click'],
                    animation: {
                        open: 'animated fadeInDown', // Animate.css class names
                        close: 'animated fadeOutUp', // Animate.css class names
                    }
                });
            }

            function bosGecme(deger) {
                if (deger.length > 0) return true;
                else return false;
            }
            $("#giris").click(function () {
                $(this).html('<img src="/Content/images/spin.svg" width="20"/>');
                var kuladi = $("#username").val();
                var password = $("#password").val();
                if (bosGecme(kuladi) && bosGecme(password) && antixss(kuladi) && antixss(password)) {
                    $.post("../Sign/GirisYap", { kullanici: kuladi, sifre: password }, function (data) {
                        if (data.basari == 1) {
                            location.href = "/Home/Index";
                        } else {
                            noti("Kullanıcı adı yada şifre yanlış", "error", "topLeft");
                            $("#giris").html("Giriş Yap");
                        }
                    });
                }
                else {
                    noti("Alanlar boş geçilemez", "error", "topLeft");
                    $("#giris").html("Giriş Yap");
                }

            });
        })
    </script>
}