
@{
    ViewBag.Title = "Hesap oluştur";
    Layout = "~/Views/Shared/_SignLayout.cshtml";
}

<div class="card card-block form-layout">
    <form role="form" action="index.html" id="validate">
        <div class="text-xs-center m-b-3">
            <img src="~/Content/images/logo-icon.png" height="80" alt="" class="m-b-1" />
            <h5>
                Şimdi hesap oluştur
            </h5>
            <p class="text-muted">
                Bir hesap aç ve projeni yönetmeye başla
            </p>
        </div>
        <fieldset class="form-group">
            <label for="email">
                Adınızı ve soyadınızı girin
            </label>
            <input type="text" class="form-control form-control-lg" id="adsoyad" placeholder="Ad Soyad" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="email">
                Kullanıcı adı girin
            </label>
            <input type="text" class="form-control form-control-lg" id="kuladi" placeholder="Kullanıcı adı" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="email">
                Eposta adresi girin
            </label>
            <input type="email" class="form-control form-control-lg" id="email" placeholder="Eposta adresi" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="password">
                Şifre girin
            </label>
            <input type="password" class="form-control form-control-lg" id="password" placeholder="Şifre" required minlength="6" />
        </fieldset>
        <fieldset class="form-group">
            <label for="cpassword">
                Şifreyi tekrar girin
            </label>
            <input type="password" class="form-control form-control-lg" id="cpassword" placeholder="Şifre(tekrar)" required minlength="6" />
        </fieldset>
        <button class="btn btn-primary btn-block btn-lg" id="kayit" type="button">
            Hesap Oluştur
        </button>
        <div class="divider">
            <span>
                yada
            </span>
        </div>
        <div class="text-xs-center">
            <p>
                Sosyal hesapları kullanarak giriş yap
            </p>
            <button href="javascript:;" class="btn btn-icon-icon btn-facebook btn-lg m-b-1 m-r-1">
                <i class="fa fa-facebook">
                </i>
            </button>
            <button href="javascript:;" class="btn btn-icon-icon btn-github btn-lg m-b-1 m-r-1">
                <i class="fa fa-github">
                </i>
            </button>
            <button href="javascript:;" class="btn btn-icon-icon btn-google btn-lg m-b-1 m-r-1">
                <i class="fa fa-google-plus">
                </i>
            </button>
            <button href="javascript:;" class="btn btn-icon-icon btn-linkedin btn-lg m-b-1 m-r-1">
                <i class="fa fa-linkedin">
                </i>
            </button>
        </div>
    </form>
</div>

@section footer{
    <p>
        <a href="~/Sign/ForgotPassword">
            Şifreni mi unuttun?
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="~/Sign/Login">
            Zaten bir hesabım var
        </a>
    </p>
}

@section script{
<script>
    $(function () {
        function antixss(deger) {
            if (deger.indexOf("<script>") != -1 || deger.indexOf("</scrip") != -1) return false
            else return true;
        }

        function noti(message, type, pos) {
            var msg = message,
              type = type.toLowerCase(),
              position = pos;
            noty({
                theme: 'app-noty',
                text: msg,
                type: type,
                timeout: 3000,
                layout: position,
                closeWith: ['button', 'click'],
                animation: {
                    open: 'animated fadeInDown', // Animate.css class names
                    close: 'animated fadeOutUp', // Animate.css class names
                }
            });
        }

        function bosGecme(deger){
            if(deger.length>0) return true;
            else return false;
        }
        $("#kayit").click(function () {
            $(this).html('<img src="/Content/images/spin.svg" width="20"/>');
            var adsoyad = $("#adsoyad").val();
            var kuladi = $("#kuladi").val();
            var email = $("#email").val();
            var password = $("#password").val();
            var cpassword = $("#cpassword").val();
            if (bosGecme(kuladi) && bosGecme(adsoyad) && bosGecme(email) && bosGecme(password) && bosGecme(cpassword) && antixss(kuladi) && antixss(adsoyad) && antixss(email) && antixss(password) && antixss(cpassword)) {
                if (password == cpassword) {
                    $.post("../Sign/KayitOl", { adsoyad: adsoyad ,kuladi: kuladi, mail: email, sifre: password }, function (data) {
                        if (data.basari == 1) {
                            location.href = "/Home/Index";
                        } else {
                            noti("Beklenmeyen bir hata oluştu", "error", "topLeft");
                            $("#kayit").html("Hesap Oluştur");
                        }
                    });
                }
                else {
                    noti("Şifreler birbiriyle uyuşmuyor", "error", "topLeft");
                    $("#kayit").html("Hesap Oluştur");
                }
            }
            else {
                noti("Alanlar boş geçilemez", "error", "topLeft");
                $("#kayit").html("Hesap Oluştur");
            }

        });
    })
</script>
}