
@{
    ViewBag.Title = "Hesap oluştur";
    Layout = "~/Views/Shared/_SignLayout.cshtml";
}

<div class="card card-block form-layout">
    <form role="form" action="index.html" id="validate">
        <div class="text-xs-center m-b-3">
            <img src="~/Content/images/slogo.png" width="150" style="margin-top:10px" alt="" class="m-b-1" />
            <h5>
                Şimdi hesap oluştur
            </h5>
            <p class="text-muted">
                Bir hesap aç ve projeni yönetmeye başla
            </p>
        </div>
        <fieldset class="form-group">
            <label for="email">
                Adınızı ve soyadınızı girin
            </label>
            <input type="text" class="form-control form-control-lg" id="adsoyad" placeholder="Ad Soyad" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="email">
                Kullanıcı adı girin
            </label>
            <input type="text" class="form-control form-control-lg" id="kuladi" placeholder="Kullanıcı adı" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="email">
                Eposta adresi girin
            </label>
            <input type="email" class="form-control form-control-lg" id="email" placeholder="Eposta adresi" required />
        </fieldset>
        <fieldset class="form-group">
            <label for="password">
                Şifre girin
            </label>
            <input type="password" class="form-control form-control-lg" id="password" placeholder="Şifre" required minlength="6" />
        </fieldset>
        <fieldset class="form-group">
            <label for="cpassword">
                Şifreyi tekrar girin
            </label>
            <input type="password" class="form-control form-control-lg" id="cpassword" placeholder="Şifre(tekrar)" required minlength="6" />
        </fieldset>
        <button class="btn btn-primary btn-block btn-lg" id="kayit" type="button">
            Hesap Oluştur
        </button>
        
    </form>
</div>

@section footer{
    <p>
        <a href="~/Sign/Login">
            Zaten bir hesabım var
        </a>
    </p>
}

@section script{
<script>
    $(function () {
        function antixss(deger) {
            if (deger.indexOf("<script>") != -1 || deger.indexOf("</scrip") != -1) return false
            else return true;
        }

        function noti(message, type, pos) {
            var msg = message,
              type = type.toLowerCase(),
              position = pos;
            noty({
                theme: 'app-noty',
                text: msg,
                type: type,
                timeout: 3000,
                layout: position,
                closeWith: ['button', 'click'],
                animation: {
                    open: 'animated fadeInDown', // Animate.css class names
                    close: 'animated fadeOutUp', // Animate.css class names
                }
            });
        }

        function bosGecme(deger){
            if(deger.length>0) return true;
            else return false;
        }

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $("#kayit").click(function () {
            $(this).html('<img src="/Content/images/spin.svg" width="20"/>');
            $(this).attr("disabled", "disabled");
            var adsoyad = $("#adsoyad").val();
            var kuladi = $("#kuladi").val();
            var email = $("#email").val();
            var password = $("#password").val();
            var cpassword = $("#cpassword").val();
            if (bosGecme(kuladi) && bosGecme(adsoyad) && bosGecme(email) && bosGecme(password) && bosGecme(cpassword) && antixss(kuladi) && antixss(adsoyad) && antixss(email) && antixss(password) && antixss(cpassword)) {
                if (password == cpassword) {
                    if (password >= 6) {
                        if(validateEmail(email)){
                            $.post("../Sign/KayitOl", { adsoyad: adsoyad, kuladi: kuladi, mail: email, sifre: password }, function (data) {
                                if (data.basari == 1) {
                                    location.href = "/Home/Index";
                                } else {
                                    noti("Beklenmeyen bir hata oluştu", "error", "topLeft");
                                    $("#kayit").html("Hesap Oluştur");
                                    $(this).attr("disabled", false);
                                }
                            });
                        } else {
                            noti("Mail adresi doğru formatta değil", "error", "topLeft");
                            $("#kayit").html("Hesap Oluştur");
                            $(this).attr("disabled", false);
                        }
                        
                    } else {
                        noti("Şifre en az 6 karakter olmalıdır", "error", "topLeft");
                        $("#kayit").html("Hesap Oluştur");
                        $(this).attr("disabled", false);
                    }
                   
                }
                else {
                    noti("Şifreler birbiriyle uyuşmuyor", "error", "topLeft");
                    $("#kayit").html("Hesap Oluştur");
                    $(this).attr("disabled", false);
                }
            }
            else {
                noti("Alanlar boş geçilemez", "error", "topLeft");
                $("#kayit").html("Hesap Oluştur");
                $(this).attr("disabled", false);
            }

        });
    })
</script>
}