
@{
    ViewBag.Title = "Index";
}

@model YPYA.Models.Proje

@section ustBaslik{
    <a class="navbar-item navbar-spacer-right navbar-heading hidden-md-down"  href="~/Project/Index/@ViewBag.projeId">
        <span>@ViewBag.projeAdi</span>
    </a>
}

@section pagestyle{
    <style>
        .main-panel > .header {
            color: #fff !important;
            background-color: #f32c1e !important;
        } 
        .main-panel > .main-content > .content-view {
            padding: 0px !important;
            height:100%;
        }
        #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
}

@section menu{
    @Html.Action("ProjectMenu", "Project", new { id = ViewBag.projeId })
}

@section script{
     <script src="~/Content/scripts/anychart-bundle.min.js"></script>
<link href="~/Content/styles/anychart-ui.min.css" rel="stylesheet" />
<script type="text/javascript">
anychart.onDocumentReady(function () {
    $(".app").addClass("expanding");
    $.post('@Url.Action("getGanttData", "Project")', { projeId: @ViewBag.projeId }, function (data) {
        
        console.log(data);
        var jsonString = JSON.parse(data);
        // create data tree on our data
        var treeData = anychart.data.tree(jsonString, anychart.enums.TreeFillingMethod.AS_TABLE);

        // create project gantt chart
        chart = anychart.ganttProject();

        // set container id for the chart
        chart.container('container');

        // set data for the chart
        chart.data(treeData);

        // set start splitter position settings
        chart.splitterPosition(470);

        // get chart data grid link to set column settings
        var dataGrid = chart.dataGrid();

        // set first column settings
        var firstColumn = dataGrid.column(0);
        firstColumn.title('#');
        firstColumn.width(30);
        firstColumn.cellTextSettings().hAlign('center');

        // set second column settings
        var secondColumn = dataGrid.column(1);
        secondColumn.cellTextSettings().hAlign('left');
        secondColumn.title('Süreç Adı');
        secondColumn.width(180);

        // set third column settings
        var thirdColumn = dataGrid.column(2);
        thirdColumn.title('Başlangıç');
        thirdColumn.width(80);
        thirdColumn.cellTextSettings().hAlign('right');
        thirdColumn.textFormatter(function(item) {
            var date = new Date(item.get('actualStart'));
            var month = date.getUTCMonth() + 1;
            var strMonth = (month > 9) ? month : '0' + month;
            var utcDate = date.getUTCDate();
            var strDate = (utcDate > 9) ? utcDate : '0' + utcDate;
            return date.getUTCFullYear() + '.' + strMonth + '.' + strDate;
        });

        // set fourth column settings
        var fourthColumn = dataGrid.column(3);
        fourthColumn.title('Bitiş');
        fourthColumn.width(80);
        fourthColumn.cellTextSettings().hAlign('right');
        fourthColumn.textFormatter(function(item) {
            var date = new Date(item.get('actualEnd'));
            var month = date.getUTCMonth() + 1;
            var strMonth = (month > 9) ? month : '0' + month;
            var utcDate = date.getUTCDate();
            var strDate = (utcDate > 9) ? utcDate : '0' + utcDate;
            return date.getUTCFullYear() + '.' + strMonth + '.' + strDate;
        });

        // set second column settings
        var fifthColumn = dataGrid.column(4);
        fifthColumn.cellTextSettings().hAlign('left');
        fifthColumn.title('Kullanıcı');
        fifthColumn.width(100);
        fifthColumn.textFormatter(function(item) {
            return item.get('person');
        });

        // initiate chart drawing
        chart.draw();

    });
           
  
});
</script>
}

<div id="container"></div>