<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta name="msapplication-tap-highlight" content="no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Milestone">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Milestone">

    <meta name="theme-color" content="#4C7FF0">

    <title>@ViewBag.title - sPromanto</title>

    <!-- page stylesheets -->
    <!-- end page stylesheets -->
    <!-- build:css({.tmp,app}) styles/app.min.css -->
    <link href="~/Content/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/vendor/pace/themes/blue/pace-theme-minimal.css" rel="stylesheet" />
    <link href="~/Content/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/vendor/animate.css/animate.css" rel="stylesheet" />
    <link href="~/Content/styles/app.css" rel="stylesheet" id="load_styles_before" />
    <link href="~/Content/styles/app.skins.css" rel="stylesheet" />
    <!-- endbuild -->
</head>
<body>

    <div class="app no-padding no-footer layout-static">
        <div class="session-panel">
            <div class="session">
                <div class="session-content">
                    @RenderBody()
                </div>
                <footer class="text-xs-center p-y-1">
                    @RenderSection("footer")
                </footer>
            </div>

        </div>
    </div>
    <script type="text/javascript">
      window.paceOptions = {
        document: true,
        eventLag: true,
        restartOnPushState: true,
        restartOnRequestAfter: true,
        ajax: {
          trackMethods: [ 'POST','GET']
        }
      };
    </script>

    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    <script src="~/Content/vendor/jquery/dist/jquery.js"></script>
    <script src="~/Content/vendor/pace/pace.js"></script>
    <script src="~/Content/vendor/tether/dist/js/tether.js"></script>
    <script src="~/Content/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/vendor/fastclick/lib/fastclick.js"></script>
    <script src="~/Content/scripts/constants.js"></script>
    <script src="~/Content/scripts/main.js"></script>
    <!-- endbuild -->
    <!-- page scripts -->
    <script src="~/Content/vendor/jquery-validation/dist/jquery.validate.js"></script>
    <!-- end page scripts -->
    <!-- initialize page scripts -->
    <script type="text/javascript">
      $('#validate').validate();
    </script>
    <!-- end initialize page scripts -->

</body>
</html>
